In [1]:
import numpy as np
import pandas as pd

In [51]:
df = pd.read_csv("./covid_impact_on_airport_traffic.csv")

In [52]:
df.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-04-03,1.0,Kingsford Smith,64,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
1,Daily,2020-04-13,1.0,Kingsford Smith,29,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2,Daily,2020-07-10,1.0,Kingsford Smith,54,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
3,Daily,2020-09-02,1.0,Kingsford Smith,18,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
4,Daily,2020-10-31,1.0,Kingsford Smith,22,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [53]:
df = df[
    ['Date', 'AirportName',
       'PercentOfBaseline', 'City', 'State', 'Country']
]

In [54]:
df.head()

,Date,AirportName,PercentOfBaseline,City,State,Country
0,2020-04-03,Kingsford Smith,64,Sydney,New South Wales,Australia
1,2020-04-13,Kingsford Smith,29,Sydney,New South Wales,Australia
2,2020-07-10,Kingsford Smith,54,Sydney,New South Wales,Australia
3,2020-09-02,Kingsford Smith,18,Sydney,New South Wales,Australia
4,2020-10-31,Kingsford Smith,22,Sydney,New South Wales,Australia

In [55]:
df.AirportName.unique()

array(['Kingsford Smith', 'Santiago International Airport',
       'Calgary International', 'Edmonton International',
       'Vancouver International', 'Winnipeg International',
       'Halifax International', 'Toronto Pearson',
       'Hamilton International', 'Montreal Mirabel', 'Montreal Trudeau',
       'Los Angeles International', 'San Francisco International',
       'Denver International', 'Miami International ',
       'Hartsfield-Jackson Atlanta International ',
       'Daniel K. Inouye International ', 'Chicago OHare International',
       'Boston Logan International ',
       'Detroit Metropolitan Wayne County ',
       'Charlotte Douglas International', 'Newark Liberty International ',
       'McCarran International', 'LaGuardia',
       'John F. Kennedy International',
       'Dallas/Fort Worth International ',
       'Washington Dulles International ',
       'Seattle-Tacoma International '], dtype=object)

In [122]:
dset = pd.DataFrame({
    "Date": pd.date_range(start=df.Date.min(), end=df.Date.max(), freq="d")
})

In [123]:
for airport in df.AirportName.unique():
    temp = df.loc[df.AirportName == airport, ['Date', 'PercentOfBaseline']]
    temp['Date'] = pd.to_datetime(temp.Date)
    dset = dset.merge(temp, how='left', on='Date')
    dset.columns = dset.columns.str.replace('PercentOfBaseline', airport)

In [124]:
dset

,Date,Kingsford Smith,Santiago International Airport,Calgary International,Edmonton International,Vancouver International,Winnipeg International,Halifax International,Toronto Pearson,Hamilton International,...,Boston Logan International,Detroit Metropolitan Wayne County,Charlotte Douglas International,Newark Liberty International,McCarran International,LaGuardia,John F. Kennedy International,Dallas/Fort Worth International,Washington Dulles International,Seattle-Tacoma International
0,2020-03-16,92.0,96.0,100.0,63.0,100.0,100.0,72.0,100.0,96.0,...,97.0,73.0,91.0,100.0,68.0,95.0,70,82,89.0,80.0
1,2020-03-17,90.0,72.0,100.0,70.0,93.0,91.0,56.0,89.0,94.0,...,94.0,84.0,90.0,100.0,67.0,88.0,65,88,94.0,85.0
2,2020-03-18,97.0,56.0,94.0,75.0,97.0,100.0,47.0,81.0,100.0,...,93.0,71.0,76.0,100.0,63.0,78.0,64,77,85.0,92.0
3,2020-03-19,89.0,52.0,96.0,74.0,92.0,99.0,38.0,82.0,87.0,...,80.0,66.0,77.0,92.0,44.0,69.0,58,73,71.0,78.0
4,2020-03-20,85.0,53.0,96.0,86.0,94.0,98.0,42.0,75.0,90.0,...,89.0,73.0,80.0,93.0,39.0,67.0,58,71,75.0,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,2020-11-28,46.0,39.0,100.0,92.0,94.0,100.0,40.0,43.0,100.0,...,66.0,50.0,57.0,99.0,31.0,57.0,72,77,55.0,67.0
258,2020-11-29,28.0,NaN,100.0,100.0,98.0,100.0,23.0,31.0,100.0,...,74.0,44.0,74.0,100.0,38.0,44.0,79,78,68.0,66.0
259,2020-11-30,29.0,65.0,100.0,100.0,90.0,100.0,79.0,67.0,100.0,...,63.0,53.0,86.0,91.0,54.0,63.0,58,96,68.0,69.0
260,2020-12-01,21.0,45.0,99.0,100.0,91.0,100.0,72.0,70.0,100.0,...,72.0,66.0,88.0,100.0,51.0,71.0,67,100,69.0,71.0
261,2020-12-02,27.0,48.0,99.0,100.0,86.0,100.0,52.0,67.0,100.0,...,66.0,58.0,91.0,100.0,65.0,76.0,64,100,65.0,85.0

In [129]:
for kol in dset.columns[1:]:
    print(kol, "==> ", any(pd.isna(dset[kol])))

Kingsford Smith ==>  True
Santiago International Airport ==>  True
Calgary International ==>  True
Edmonton International ==>  True
Vancouver International ==>  True
Winnipeg International ==>  True
Halifax International ==>  True
Toronto Pearson ==>  True
Hamilton International ==>  True
Montreal Mirabel ==>  True
Montreal Trudeau ==>  False
Los Angeles International ==>  False
San Francisco International ==>  True
Denver International ==>  True
Miami International  ==>  True
Hartsfield-Jackson Atlanta International  ==>  False
Daniel K. Inouye International  ==>  True
Chicago OHare International ==>  True
Boston Logan International  ==>  True
Detroit Metropolitan Wayne County  ==>  True
Charlotte Douglas International ==>  True
Newark Liberty International  ==>  True
McCarran International ==>  True
LaGuardia ==>  True
John F. Kennedy International ==>  False
Dallas/Fort Worth International  ==>  False
Washington Dulles International  ==>  True
Seattle-Tacoma International  ==>  True

In [130]:
for airport in dset.columns[1:]:
    temp = dset[airport]
    temp = temp.interpolate()
    dset[airport] = temp

In [135]:
dset.to_excel("traffic_v2.xlsx")

In [177]:
negara = df.Country.unique()

In [178]:
dset_per_negara = pd.DataFrame({"Date": pd.date_range(start=df.Date.min(), end=df.Date.max(), freq="d")})

In [179]:
for neg in negara:
    list_bandara = df.loc[df.Country ==neg, 'AirportName'].unique()
    temp = dset[list_bandara]
    temp1 = pd.DataFrame({"Date": pd.date_range(start=df.Date.min(), end=df.Date.max(), freq="d")})
    temp1[neg] = temp.sum(axis=1)
    dset_per_negara = dset_per_negara.merge(temp1, how='left', on='Date')
    # dset.columns = dset.columns.str.replace('PercentOfBaseline', airport)

In [180]:
dset_per_negara

          Date  Australia  Chile  Canada  United States of America (the)
0   2020-03-16       92.0   96.0   831.0                          1497.0
1   2020-03-17       90.0   72.0   791.0                          1493.0
2   2020-03-18       97.0   56.0   792.0                          1389.0
3   2020-03-19       89.0   52.0   763.0                          1254.0
4   2020-03-20       85.0   53.0   780.0                          1242.0
..         ...        ...    ...     ...                             ...
257 2020-11-28       46.0   39.0   751.0                           990.0
258 2020-11-29       28.0   52.0   727.0                          1088.0
259 2020-11-30       29.0   65.0   820.0                          1178.0
260 2020-12-01       21.0   45.0   827.0                          1275.0
261 2020-12-02       27.0   48.0   798.0                          1276.0

[262 rows x 5 columns]

In [181]:
dset_per_negara.to_excel('traffic_per_negara_v2.xlsx')